/* 
#REVISION HISTORY SECTION starts
#DEVELOPER             DATE(yr/mm/day/                 COMMENTS
#roberto(2134668)      2022-10-07              create a mid term project called 2134668 commit#1
#roberto(2134668)      2022-10-08              see cheatSheet for many steps did from 10 to 1130am commit#2
#robert(2134668)       2022-10-9               see commentsIndex and cheatsheet--i have basic form and css and pics working
#robert(2134668)       2022-10-29--630am       i added back switch for 3 colors for 3 pages--cntrl + F5 helps me get output i wanted--
#REVISION HISTORY SECTION ends
    Created on : Oct. 8, 2022, 10:19:27 a.m.
    Author     : Roberto

--working here 21/10/2022--
--class logo added w/ some default style
--im not underatsnfing chnages i amking here are not reflecting
*/



.redBackground {
  background-color: red; 
  text-align: center;
}


.whiteBackground {
  background-color: white; 
  text-align: center;
}

.home{
   background-color: red; 
}

.order{
   background-color: blue; 
}
.buying{
   background-color: orange; 
}
.main{
    background-color: orange;
}


.logo{
  height:50px;
  width:20px;  
}